---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-6" title="About me">
  <div class="flex flex-col gap-2">
    <div class="text-sm font-light">
      <p>
        Hi, I'm Tiran Pankaja, a DevOps Trainee from Sri Lanka.
        <br />
        My primary tools of choice includes:
      </p>
      <ul class="list-disc list-inside">
        <li>AWS</li>
        <li>Jenkins</li>
        <li>Docker</li>
        <li>Kubernates</li>
        <li>Terraform</li>
        <li>Python</li>
      </ul>
    </div>
    <p class="text-sm font-light">
      Beyond coding, I'm passionate about design, illustration, philosophy and traveling.
    </p>
    <p class="text-sm font-light">
      While I have some preferred tools, I always choose the best one for the
      job, even if it's not on my usual list.
    </p>
  </div>
</Card>
